html {
  // border-box box model allows us to add padding and border to our elements without increasing their size
  box-sizing: border-box;

  // WAT IS THIS?!
  // We inherit box-sizing: border-box; from our <html> selector

  font-size: 62.5%; // 1rem = 10px
}
  
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: "Open Sans", sans-serif;
}
// body {
//   font-family: "Open Sans", sans-serif;
//   font-weight: 400;
//   line-height: 1.6;
//   color: var(--color-grey-dark-2);

//   background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
//   background-size: cover;
//   background-repeat: no-repeat;
//   min-height: 100vh;

// }


// .wrapper {
//   width: 100%;
//   max-width: 1100px;
//   margin: 0 auto;
// }
  
// section {
//   display: -webkit-box;

// }
  