.btn {

   text-decoration: none;
   padding: 1.2rem 1.8rem;
   text-transform: uppercase;
   font-weight: 900;
   color: #fff;
   border-radius: 2px;
   display: inline-block;
   margin-bottom: 2rem;

   &-primary {

      background-color: $color-main;
      letter-spacing: 0.1rem;
      box-shadow: 1px 1px #888888;
   }

   &-big {
      width: 26rem;
      height: 4rem;
   }

   &-secondary {
      background-color: transparent;
      text-decoration: underline;
      // border: 1px solid #fff;
      // border-radius: 2px;
   }

}