@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro");


.heading_primary {

  &-surtext {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  &-main {
    font-size: 3.8rem;
    margin-bottom: 1.2rem;
  }

  &-text {
    font-size: 1.4rem;
    padding: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 2.2rem;

  }
}